<h1><%= @doctor.name %> </h1>

<p> crud below </p>

<%= link_to 'Edit Doctor', edit_doctor_path %>
<%= link_to 'Delete Doctor', doctor_path, method: :delete %>

<%= link_to 'Doctor list', doctors_path %>